@use '../utils/variables' as variables;

.search-container {
    display: flex;
    width: 50%;
    height: 100%;
  }

  .search-container {
    display: flex;
    width: 50%;  

.search-input {
    width: 50%;
    padding: .5em 1.2em;
    }

}